@import url('https://fonts.googleapis.com/css?family=Roboto');

$font: 'Roboto', sans-serif;
$main-color: rgb(255, 102, 0);
$border-color: rgb(177, 176, 176);
$text-weight: 700;

* {
    font-family: $font;
    margin: 0;
    padding: 0;
}

header {
    padding: 15px 0;
    text-align: center;
    box-shadow: 0px 15px 10px -15px #111;
    h1 {
        color: $main-color;
    }
}

main {
    background-color: rgba(255, 102, 0, .2);
    padding: 30px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.story {
    box-shadow: 0 0 5px #111;
    margin: 10px 0;
    padding: 7px 7px 0 7px;
    background-color: white;
    a.title {
        text-decoration: none;
        color: $main-color;
        font-weight: $text-weight;
        display: block;
        margin-bottom: 3px;
    }
    p {
        font-size: 14px;
        margin-left: 5px;
        display: inline-block;
    }
    input {
        background-color: white;
        border: 1px solid $border-color;
        border-radius: 3px;
        padding: 0 3px;
        font-size: 14px;
        font-weight: $text-weight;
        margin-bottom: 10px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    .all-comments {
        box-sizing: border-box;
        border-top: 0px solid $border-color;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height .7s, border-top; 
        transition: max-height .7s, border-top;
        .comment {
            padding-top: 10px;
            color: rgb(102, 101, 101);
            p:first-of-type {
                font-weight: $text-weight;
                display: block;
            }
            &:last-of-type {
                padding-bottom: 10px;
            }
        }
        &.show {
            max-height: 2000px;
            border-top: 1px solid $border-color;
        }
    }
}